.banner-superior {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  background-color: #00723c;
}

.center-container {
  display: flex;
  align-items: center;
  margin-right: 2%;
  /* Modifica este valor según tus necesidades */
  margin-left: 2%;
  /* Modifica este valor según tus necesidades */
}

.logo {
  cursor: pointer;
  height: 70px;
}

.boton-derecha {
  outline: none;
  padding: 10px 20px;
  background-color: #ffffff;
  color: #00723c;
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin-right: 2%;
  /* Modifica este valor según tus necesidades */
  margin-left: 0;
  border-radius: 8px;
}

.search-form {
  display: flex;
  align-items: center;
  margin-left: auto;
  width: 100%;
  margin-left: 2%;
  /* Modifica este valor según tus necesidades */
}

.search-input {
  padding: 10px 20px;
  margin-right: 2%;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 50%;
  /* Modifica este valor según tus necesidades */
  border-radius: 50px;
}

.search-input:focus {
  outline: none;
}

.search-button {
  padding: 10px 20px;
  background-color: #ffffff;
  color: #00723c;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 50px;
}

.cart-icon-container {
  display: flex;
  align-items: center;
}

.total-text {
  font-size: 20px;
  color: white;
  width: 160px;
  margin-left: auto;
}

.cart-icon {
  cursor: pointer;
  height: 40px;
}

.cart-count {
  background-color: white;
  /* Ajusta el color de fondo según tus necesidades */
  color: #00723c;
  /* Ajusta el color del texto según tus necesidades */
  font-size: 12px;
  /* Ajusta el tamaño de fuente según tus necesidades */
  width: 18px;
  /* Ajusta el ancho según tus necesidades */
  height: 18px;
  /* Ajusta el alto según tus necesidades */
  border-radius: 50%;
  /* Ajusta el radio del borde según tus necesidades para obtener una forma circular */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Nuevas propiedades para evitar deformaciones */
  flex-shrink: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.menu-container {
  position: relative;
}

.menu-category {
  display: flex;
  flex-direction: column;
  position: relative;
  white-space: nowrap;
}

.button {
  border-radius: 10px;
  background-color: #00723c;
  color: white;
  text-align: center;
  padding: 0 16px;
  text-decoration: none;
  display: flex;
  margin: 2px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button:hover {
  background-color: #45a049;
  /* Color de fondo del botón al pasar el mouse por encima */
}

.menu {
  margin-top: 2px;
  font-family: Arial, sans-serif;
  /* Esto cambiará la fuente de tu menú */
  color: #00723c;
  /* Esto cambiará el color del texto de tu menú */
  font-size: 14px;
  /* Esto cambiará el tamaño de la fuente de tu menú */
  border-radius: 10px;
  width: auto;
  background-color: white;
  position: absolute;
  top: 100%;
  /* posiciona el menú justo debajo del botón */
  left: 0;
  /* alinea el menú a la izquierda con el botón */
  z-index: 100;
  /* asegura que el menú aparezca por encima de otros elementos */
  /* otros estilos... */
}

.subcategory-container {
  margin-top: 2px;
  margin-left: 4px;
  border-radius: 10px;
  background-color: white;
  position: absolute;
  /* Establece la posición absoluta para el contenedor de subcategorías */
  left: 100%;
  /* Se posiciona a la izquierda del elemento padre */
  top: 0;
  /* Se alinea con la parte superior del elemento padre */
  /* los demás estilos */
}

.subcategory-container ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  /* Remueve cualquier padding del contenedor */
  margin: 0;
  /* Remueve cualquier margen del contenedor */
}

.menu-subcategory {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.clear-filter-button {
  outline: none;
  padding: 10px 20px;
  background-color: rgb(248, 75, 62);
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin-right: 2%;
  /* Modifica este valor según tus necesidades */
  margin-left: 4px;
  border-radius: 8px;
}

.clear-filter-button:hover {
  background-color: #ff8787;
  color: #fff;
}

/* Consulta de medios para tamaños de pantalla más pequeños */
@media (max-width: 768px) {
  .banner-superior {
    flex-direction: column;
    align-items: center;
    padding: 15px 20px;
  }

  .center-container {
    margin-bottom: 10px;
  }

  .menu-container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .menu-category {
    display: flex;
    flex-direction: column;
    position: relative;
    white-space: nowrap;
  }

  .boton-derecha {
    align-items: center;
    width: 100%;
    margin-right: 0;
    /* Elimina el margen derecho */
    margin-left: 0;
    /* Elimina el margen derecho */
  }

  .search-form {
    margin-top: 10px;
    align-items: center;
    width: 100%;
    margin-right: 0;
    /* Elimina el margen derecho */
    margin-left: 0;
    /* Elimina el margen derecho */
  }

  .search-input {
    width: 100%;
  }

  .cart-icon-container {
    margin-top: 10px;
    margin-left: auto;
    /* Elimina el margen izquierdo */
  }
}