.cart-panel {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    right: 0;
    max-width: 100%;
    max-height: 50%;
    background-color: rgb(255, 255, 255);
    transition: right 0.3s ease;
    overflow-y: auto;
    padding: 20px;
    z-index: 999;
    transition: transform 0.3s ease-in-out;
    border-radius: 10px;
    transform: translateX(100%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    overflow-x: hidden;
}

.separator {
    border-right: 1px solid black;
    padding-right: 10px;
    margin-right: 10px;
}

.cart-panel.open {
    display: flex;
    transform: translateX(0);
}

.cart-panel h2 {
    font-size: 18px;
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    color: green;
}

.cart-panel .total-label {
    font-size: 18px;
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    color: green;
}

.suma-total {
    font-size: 22px;
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(255, 0, 0);
}

.cart-panel-item {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.cart-panel-item {
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 10px;
    align-items: center;
}

.cart-item-left {
    grid-column: 1;
}

.cart-item-right {
    grid-column: 2;
}

.cart-item-image {
    max-width: 100px;
    max-height: 100px;
}

.trash-icon {
    cursor: pointer;
    width: 25px;
    height: 25px;
}

.cart-item-name,
.cart-item-price,
.quantity,
.cart-item-total,
.trash-icon {
    margin-bottom: 10px;
    font-weight: bold;
    color: #444;
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-bottom: 20px;
    background-color: #e1e6e3;
}

.card:hover {
    transform: translateY(-1px);
}

.cart-item-remove {
    animation: cart-item-remove-animation 0.5s;
    transform-origin: top right;
}

.pdf {
    padding: 10px 20px;
    background-color: #00723c;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50px;
}

.pdf:hover {
    background-color: #5db577;
}

@keyframes cart-item-remove-animation {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    50% {
        transform: translateX(50%);
        opacity: 0.5;
    }

    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}

.cart-item-right {
    overflow: hidden;
}

.cart-item-name,
.cart-item-price,
.cart-item-total {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
    color: #444;
}

.cart-item-remove .cart-item-name,
.cart-item-remove .cart-item-price,
.cart-item-remove .cart-item-total {
    color: #777;
}

.clear-cart {
    padding: 10px 20px;
    background-color: #f54242; /* You can change the color as you prefer */
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50px;
    margin-top: 10px;
}

.clear-cart:hover {
    background-color: #f56565; /* This color will be applied when you hover the button. You can change it as you prefer */
}