.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 100%;
    padding: 15px;
    box-sizing: border-box;
}

.product-item {
    width: 100%;
    padding: 20px;
    background-color: #e1e6e3;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.product-item img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}

.product-item h3 {
    font-size: 18px;
    margin: 0 0 10px;
}

.product-item p {
    margin: 0;
    margin-top: 10px;
}

.product-item button {
    background-color: #00723c;
    color: #fff;
    border: none;
    padding: 10px 40px;
    border-radius: 25px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.product-item button:hover {
    background-color: #228e43;
}

@media (min-width: 768px) {
    .product-list {
        margin-left: 150px;
        margin-right: 150px;
    }

    .product-item {
        width: 190px;
        flex: 0 0 190px;
        margin-bottom: 0;
        /* Eliminar el margen inferior para los elementos en tamaño de pantalla grande */
    }
}