.carousel-container {
    position: relative;
    width: 100vw;
    /* 100% del ancho de la ventana de visualización */
    overflow: hidden;
}

.carousel-buttons {
    position: absolute;
    top: 50%;
    width: 100vw;
    /* 100% del ancho de la ventana de visualización */
    z-index: 10;
}

.carousel-button {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 2em;
    padding: 1em;
    position: absolute;
}

.carousel-button:hover {
    color: #ccc;
}

.carousel-button:first-of-type {
    left: 0;
}

.carousel-button:last-of-type {
    right: 0;
}

.slide-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    /* 100% del ancho de la ventana de visualización */
}

.slide-item img {
    width: 100vw;
    /* 100% del ancho de la ventana de visualización */
    height: auto;
}


.slick-dots {
    margin-top: 20px;
}

@media (max-width: 768px) {
    .carousel-container {
        position: relative;
        /* Agrega un espacio de 20px arriba y abajo del carrusel */
        padding-top: 200px;
    }
}