.carousel-container {
    position: relative;
    width: 100%;
    height: auto;
    /* Adjust this value based on your needs */
    overflow: hidden;
}

.carousel-buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    pointer-events: none;
    /* Ensures buttons won't block the slides */
    z-index: 10;
}

.carousel-button {
    pointer-events: all;
    /* Re-enable pointer events for the buttons */
    background-color: rgba(0, 114, 60, 0.5);
    /* Semi-transparent background */
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 20px;
}

.carousel-button:focus {
    outline: none;
}

.slide-item {
    outline: none;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide-item img {
    width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .carousel-buttons {
        display: none;
    }
}